body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.btn {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: #fff;
    border-radius: 5px;
}

p {
    color: #696969;
}

.banner {
    display: flex;
    padding: 0 5%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    height: 100vh;
}

.half-width {
    width: 50%;
}

.banner .half-width img {
    width: 80%;
}

.banner .half-width h1 {
    font-size: 50px;
}

.banner .half-width h1 .cng {
    color: orange;
}

.dream-big {
    display: flex;
    padding: 0 5%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
}

.dream-big h1 {
    font-size: 40px;
}

.dream-big img {
    width: 90%;
}

.dream-big .half-width:nth-child(2) {
    padding-right: 5%;
}